.pagging {
	display: flex;
	align-items: center;
	justify-content: center;


	// .pagging__arrow
	&__arrow {
		width: 30px;
		height: 25px;
		background: url('../img/icons/sl-arrow-grey.svg') 0 0 / 100% no-repeat;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				height: 26px;
				background: url('../img/icons/sl-arrow-h.svg') 0 0 / 100% no-repeat;
			}
		}

		&:first-child {}

		&:last-child {
			transform: rotate(-180deg);
		}
	}

	// .pagging__list
	&__list {
		display: flex;
		margin: 0px 35px;

		li {}
	}

	// .pagging__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 33px;
		height: 33px;
		border-radius: 50%;


		color: #333333;
		font-size: 18px;
		font-weight: 900;

		&._active {
			color: #fff;
			background-color: #fd8424;
		}
	}
}